<label for="name">Namn:</label>
<input id="name" type="text" ng-model="quotation.requesterName" /><br />
<label for="email">Email:</label>
<input id="email" type="text" ng-model="quotation.requesterEmail" /><br />
<label for="from">Från:</label>
<input id="from" type="text" ng-model="quotation.fromAddress" /><br />
<label for="to">Till:</label>
<input id="to" type="text" ng-model="quotation.toAddress" /><br />
<label for="distance">Avstånd:</label>
<input id="distance" type="text" ng-model="quotation.distanceInKilometers" /><br />
<label for="area">Yta:</label>
<input id="area" type="text" ng-model="quotation.areaInSquareMeters" /><br />
<label for="storage-area">Källare/Vind:</label>
<input id="storage-area" type="text" ng-model="quotation.storageAreaInSquareMeters" /><br />
<label for="piano">Piano:</label>
<input id="piano" type="checkbox" ng-model="quotation.includePiano" /><br />
<button ng-click="addQuotation()" />Skicka</button>
