<label>Offert:</label> {{ quotation.quotationId }}<br />
<label>Namn:</label> {{ quotation.requesterName }}<br />
<label>Email:</label> {{ quotation.requesterEmail }}<br />
<label>Från:</label> {{ quotation.fromAddress }}<br />
<label>Till:</label> {{ quotation.toAddress }}<br />
<label>Avstånd:</label> {{ quotation.distanceInKilometers }}<br />
<label>Yta:</label> {{ quotation.areaInSquareMeters }}<br />
<label>Källare/Vind:</label> {{ quotation.storageAreaInSquareMeters }}<br />
<label>Piano:</label> {{ quotation.includePiano }}<br />
<label>Pris:</label> {{ quotation.price }} kr inkl moms
