<div class="col-xs-12">
    <h2>Prisförslag för bohagsflytt</h2>
    <br />
</div>
<div class="col-xs-4">
    <strong>Offertnummer:</strong> {{ quotation.quotationId }}<br />
    <br />
    <strong>Namn:</strong> {{ quotation.requesterName }}<br />
    <strong>Email:</strong> {{ quotation.requesterEmail }}<br />
    <br />
    <strong>Från:</strong> {{ quotation.fromAddress }}<br />
    <strong>Till:</strong> {{ quotation.toAddress }}<br />
    <strong>Avstånd:</strong> {{ quotation.distanceInKilometers }} km<br />
    <br />
    <strong>Yta:</strong> {{ quotation.areaInSquareMeters }} kvm<br />
    <strong>Källare/Vind:</strong> {{ quotation.storageAreaInSquareMeters }} kvm<br />
    <br />
    <strong>Övrigt</strong><br />
    <strong>Piano:</strong> {{ quotation.includePiano ? 'Ja' : 'Nej' }}<br />
</div>
<div class="col-xs-4">
    <h4>Uppskattat pris: {{ quotation.price }} kr inkl moms</h4>
    <p>
        Vi sparar ditt prisförslag i 90 dagar. För att se prisförslaget igen, besök:
        <a href="http://localhost:8080/moveit/#/view/{{ quotation.quotationId }}">http://localhost:8080/moveit/#/view/{{ quotation.quotationId }}</a>
    </p>
    <p>
        Om du har frågor, kontakta: flytt@moveit.se
    </p>
</div>
